mat-list-item {
  margin: 14px 0;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(23, 105, 170, 0.07);
  background: white;
}

mat-list-item:hover {
  box-shadow: 0 4px 16px rgba(23, 105, 170, 0.13);
}

.title {
  color: var(--gray-700);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.description {
  color: var(--gray-400);
  font-size: 0.98rem;
  opacity: 0.85;
}

.amount {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.red {
  color: #bc0000;
}

.green {
  color: #007206;
}

.empty {
  color: var(--warn);
  text-align: center;
}