:host {
  background-color: var(--background);
  display: block;
  min-height: 100vh;
  width: 100%;
  background: var(--background);
}

.wrapper {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

mat-card-title {
  color: var(--primary-dark);
}

.child {
  display: flex;
  gap: 10px;
}

mat-form-field {
  flex: 1 1 0;
  min-width: 0;
}

.actions {
  display: flex;
  justify-content: center;
}

.error {
  margin-bottom: 10px;
  height: 20px;
  text-align: center;
}

mat-card-actions {
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 600px) {
  .child {
    flex-direction: column;
    gap: 0;
  }
}