<mat-sidenav-container>
  <mat-sidenav #drawer mode="push" opened>
    <div class="sidenav-wrapper">
      <app-sidenav-actions [drawer]="drawer" />

      <app-sidenav-quick-actions class="quick-actions" />

      <div class="logout">
        <button matFab extended class="logout-button" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header">
      <div class="menu">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        <span class="logo">Bankwise</span>
      </div>
      <div class="profile" (click)="redirectToProfile()">{{initials()}}</div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
