mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  border-radius: unset;
  width: 250px;
  background-color: var(--background);
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent);
}

.logo {
  font-size: 30px;
  color: white;
  font-weight: 800;
}

.profile {
  font-size: 15px;
  border-radius: 50%;
  background-color: var(--accent-dark);
  padding: 3px 6px;
  color: white;
  cursor: pointer;
}

.profile:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu mat-icon {
  color: white;
  cursor: pointer;
  transition: color 0.2s;
}

.menu mat-icon:hover {
  color: var(--primary-dark);
}

.sidenav-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidenav-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.sidenav-header mat-icon {
  font-size: 20px;
  color: var(--primary-dark);
  cursor: pointer;
}

.sidenav-header mat-icon:hover {
  color: var(--primary);
}

.name {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-dark);
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions-child {
  width: 99%;
  border: none;
  border-radius: unset;
  justify-content: flex-start;
}

.select-account {
  flex: 1;
}
.select-account > mat-form-field {
  width: 100%;
}

.logout {
  display: flex;
  flex-direction: column;
}

.logout-button {
  border-radius: unset;
}

.sidenav-wrapper button {
  background-color: var(--background);
}

.dashboard-icon {
  color: var(--primary-dark);
}

.transactions-icon {
  color: orange;
}

.profile-icon {
  color: green;
}

mat-form-field {
  margin-top: 10px;
}
