:host {
  display: block;
  min-height: calc(100vh - 60px);
  background-color: var(--background);
}

.dashboard {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 25px;

  grid-template-areas: 
    "cards gestione"
    "chart gestione"
    "transactions transactions";
}

/* Assegnazione aree specifiche */
.dashboard mat-card:nth-child(1) {
  grid-area: cards;
}

.dashboard mat-card:nth-child(2) {
  grid-area: gestione;
}

.dashboard mat-card:nth-child(3) {
  grid-area: chart;
}

.transactions {
  grid-area: transactions;
}

.item {
  padding: 20px;
  min-height: 120px;
  height: 100%;
}

.account-number {
  color: rgb(83, 35, 35);
}

.balance {
  font-size: 38px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: space-between;
}

.balance-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eye {
  border-radius: 50%;
  background-color: var(--accent-dark);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.balance.blurred {
  filter: blur(10px);
}

.header-wrapper {
  background: var(--accent);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-bottom: 80px;
}

mat-card-header {
  height: 70px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--accent), var(--primary));
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

mat-card-title {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}
