:host {
  display: block;
  min-height: calc(100vh - 60px);
  background-color: var(--background);
}

.header-wrapper {
  background: var(--accent);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  min-height: 100px;
  padding: 20px;
  margin-bottom: 80px;
}

.dashboard {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 25px;
  padding-bottom: 20px;

  grid-template-areas:
    "cards gestione"
    "chart gestione"
    "transactions transactions";
}

.dashboard .cards {
  grid-area: cards;
}

.dashboard .gestione-conti {
  grid-area: gestione;
}

.dashboard .chart {
  grid-area: chart;
}

.transactions {
  grid-area: transactions;
}

.item {
  padding: 20px;
  min-height: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account-number {
  color: rgb(204, 204, 204);
}

.balance {
  font-size: 38px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: space-between;
}

.balance-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eye {
  border-radius: 50%;
  background-color: var(--accent-dark);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.balance.blurred {
  filter: blur(10px);
}

mat-card-header {
  height: 70px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--accent), var(--primary));
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

mat-card-title {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 890px) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-areas:
      "cards"
      "gestione"
      "chart"
      "transactions";
  }
}
